{% load static %}
    <div class="hero-wrap" style="background-image: url('{% static 'website/images/bg_7.jpg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Ne rien faire n'est pas une option de notre vie</h1>
            <p class="mb-5" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"> <a href="#">Foundation MDM</a></p>

            <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="#" class="btn btn-white btn-outline-white px-4 py-3 popup-vimeo"><span class="icon-play mr-2"></span>Regarder la Video</a></p>
          </div>
        </div>
      </div>
    </div>