  {% load static %}
  <!-- START footer -->
    <footer class="ftco-footer ftco-section img">
      <div class="overlay"></div>
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">A Propos</h2>
              <p>La fondation MDM a pour objet l'accompagnement des projets et programmes de développement solidaire à travers des actions multiformes dans les domaines de l’éducation/formation,de la santé/hygiène publique, du micro-entrepreneuriat, et du genre .</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
             <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">Liens du Site</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Acceuil</a></li>
                <li><a href="#" class="py-2 d-block">A Propos</a></li>
                <li><a href="#" class="py-2 d-block">Faire un Don</a></li>
                <li><a href="#" class="py-2 d-block">Nos Causes</a></li>
                <li><a href="#" class="py-2 d-block">Evènements</a></li>
                <li><a href="#" class="py-2 d-block">Blog</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Avez vous des questions ?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="icon icon-map-marker"></span><span class="text">cité de la démocratie, Libreville, Gabon</span></li>
                  <li><a href="#"><span class="icon icon-phone"></span><span class="text">+241 017 33 257</span></a></li>
                  <li><a href="#"><span class="icon icon-envelope"></span><span class="text">fondationmdm12@gmail.com</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p>
  Copyright &copy;
  <script>document.write(new Date().getFullYear());</script> Tous droits réservés | Conçu <i class="icon-heart" aria-hidden="true"></i> par <a href="" target="_blank">Yannick ABOH</a>
  </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- END footer -->