    {% load static %}
    <section class="ftco-counter ftco-intro" id="section-counter">
    	<div class="container">
    		<div class="row no-gutters">
    			<div class="col-md-5 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 color-1 align-items-stretch">
              <div class="text">
              	<span>Membres</span>
                <strong class="number" data-number="190">0</strong>
                <span>Nous sommes déjà près de 190 membres actifs</span>
              </div>
            </div>
          </div>
          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 color-2 align-items-stretch">
              <div class="text">
              	<h3 class="mb-4">Dons</h3>
              	<p>Nous parvenons à aider grace à vos dons.</p>
              	<p><a href="#" class="btn btn-white px-3 py-2 mt-2">Faire un don</a></p>
              </div>
            </div>
          </div>
          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 color-3 align-items-stretch">
              <div class="text">
              	<h3 class="mb-4">Devenir un Volontaire</h3>
              	<p>Si vous avez l'âme à investir de votre temps pour les autres alors rejoignez nous.</p>
              	<p><a href="#" class="btn btn-white px-3 py-2 mt-2">Devenez un Volontaire</a></p>
              </div>
            </div>
          </div>
    		</div>
    	</div>
    </section>