  {% load static %}
  <!-- START nav -->
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="{% url 'acceuil' %}">Foundation MDM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href="{% url 'acceuil' %}" class="nav-link">Acceuil</a></li>
          <li class="nav-item"><a href="{% url 'apropos' %}" class="nav-link">A Propos</a></li>
          <li class="nav-item"><a href="{% url 'causes' %}" class="nav-link">Nos Causes</a></li>
          <li class="nav-item"><a href="{% url 'donation' %}" class="nav-link">Faire un Don</a></li>
          <li class="nav-item"><a href="{% url 'blog' %}" class="nav-link">Blog</a></li>
          <li class="nav-item"><a href="{% url 'galerie' %}" class="nav-link">Galerie</a></li>
          <li class="nav-item"><a href="{% url 'events' %}" class="nav-link">Evènements</a></li>
          <li class="nav-item"><a href="{% url 'contacts' %}" class="nav-link">Contacts</a></li>
        </ul>
      </div>
    </div>
  </nav>
    <!-- END nav -->